<%- include('../partials/header') %>

  


  <h1><%=title%></h1>

   <style>
        .container {
            padding-bottom: 20px;
            background-color: #e57373
        }
    </style>
  <div class="container">
  <img src="views/image/nba pic.png" alt="Photo">
  </div> 
  
  <div>
    <p>The National Basketball Association (NBA) stands as one of the premier professional basketball leagues globally, captivating sports enthusiasts with its high-flying athleticism and fierce competition. Established in 1946, the NBA has evolved into an international cultural phenomenon, drawing fans from all corners of the world. With 30 teams representing major cities across North America, the league boasts a diverse range of talent, showcasing the skills of top-tier athletes who exhibit a remarkable blend of agility, strategy, and teamwork. From the iconic slam dunks to the nail-biting buzzer-beaters, the NBA consistently delivers electrifying moments that transcend the sport itself, embedding itself into the fabric of popular culture.</p>
  </div>

  <div>
    <p>At the heart of the NBA's allure lies its ability to bridge cultures and unite people through a shared passion for basketball. The league has nurtured global superstars whose impact extends beyond the court, becoming influential figures in various fields. Names like Michael Jordan, Kobe Bryant, and LeBron James have not only redefined the sport but have also leveraged their platforms to address social issues and promote positive change. The NBA's commitment to social responsibility is evident through initiatives like NBA Cares, where players and teams engage in philanthropic endeavors, advocating for education, community development, and equality. As technology advances, the NBA continues to adapt, with streaming services and social media connecting fans around the world to the heart-pounding action. Whether it's the intensity of playoff battles or the excitement of the annual NBA All-Star Weekend, the league's impact remains undeniable, shaping the way sports are enjoyed and appreciated on a global scale.</p>
  </div>
<%- include('../partials/footer') %>