<%- include('../partials/header') %>

  <h1><%=title%></h1>

   <style>
        .container {
            padding-bottom: 20px;

  }
    </style>
  
  <div class="container">
  <img src="views/image/download.jpeg" alt="Photo">
  </div>
 
  <fieldset>
    <div>
      <p>
        Seattle, often referred to as the "Emerald City," is a vibrant and dynamic metropolis nestled in the Pacific Northwest region of the United States. Known for its picturesque landscapes, diverse culture, and innovative spirit, Seattle boasts a unique blend of urban sophistication and natural beauty. The city is surrounded by lush evergreen forests and bordered by the Puget Sound, creating a captivating backdrop that has inspired countless artists, writers, and thinkers. Seattle's skyline is punctuated by the iconic Space Needle, a symbol of its forward-thinking nature that was constructed for the 1962 World's Fair. Beyond its landmarks, Seattle is renowned for its contributions to technology and business, serving as the headquarters for companies like Microsoft, Amazon, and Starbucks. This blend of breathtaking scenery, cultural richness, and technological innovation makes Seattle a captivating destination that captures the essence of the modern American city.
      </p>

      <p>Seattle's diverse neighborhoods offer a mosaic of experiences, catering to a wide range of interests and lifestyles. In the historic Pike Place Market, locals and visitors alike are treated to a bustling hub of fresh produce, artisanal crafts, and lively street performances. The city's commitment to culinary excellence is showcased through its thriving food scene, celebrated for its emphasis on locally sourced ingredients and creative, sustainable dining options. For those seeking outdoor adventures, the nearby Olympic and Cascade mountain ranges provide hiking trails, ski resorts, and breathtaking vistas. Seattle's commitment to the arts is evident through its numerous museums, galleries, and theaters, offering a rich cultural tapestry that encompasses everything from traditional Native American art to contemporary exhibits. With a reputation for progressive policies and an environmentally conscious ethos, Seattle continues to push the boundaries of innovation and sustainability, ensuring its place as a captivating hub of culture, nature, and modernity.</p>
    </div>
  </fieldset>
   

<%- include('../partials/footer') %>